html {
    font-size: 1rem;
  }
  body {
    width: 75%;
    height: 78%;
    margin: 50px auto;
  }
  .header {
    height: 20%;
    background-color: #590bff;
  }
  .header__adress-book {
    color: white;
    height: 100px;
    font-family: Roboto;
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    line-height: 78px;
  }
  .main {
    position: relative;
    background-color: white;
    display: flex;
  }
  .divider {
    position: absolute;
    width: 2px;
    height: 451px;
    left: 280px;
    top: 49px;
    background: #c4c4c4;
  }
  .divider__link1 {
    width: 285px;
    /* border: 1px solid black; */
    height: 500px;
    padding: 20px;
    font-size: 2rem;
    color: rgb(240, 8, 124);
  }
  .divider__link2 {
    display: flex;
    flex-direction: column;
  }
  .divider__link2 {
    font-size: 2rem;
    font-weight: 200px;
    color: #c1aaf5;
    line-height: 5px;
    margin-top: 70px;
    margin-left: -110px;
    line-height: 20px;
  }
  .container__scrollbar {
    position: fixed;
    overflow-y: overlay;
    right: 250px;
    height: 400px;
  }
  .wrapper__block {
    background-color: #590bff;
    height: 50px;
    width: 650px;
  }
  .text__1 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 100;
    line-height: 43px;
  }
  .list__a {
    padding: 5px;
    display: inline-block;
    font-size: 1, 5rem;
    line-height: 30px;
  }
  .text__2 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 100;
    line-height: 43px;
  }
  .list__b {
    padding: 5px;
    display: inline-block;
    font-size: 1, 5rem;
    line-height: 30px;
  }
  .text__3 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 100;
    line-height: 43px;
  }
  .list__v {
    padding: 5px;
    display: inline-block;
    font-size: 1, 5rem;
    line-height: 30px;
  }
  .text__4 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 100;
    line-height: 43px;
  }
  .list__g {
    padding: 5px;
    display: inline-block;
    font-size: 1, 5rem;
    line-height: 30px;
  }
  .text__5 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 100;
    line-height: 43px;
  }
  .list__d {
    padding: 5px;
    display: inline-block;
    font-size: 1, 5rem;
    line-height: 30px;
  }
  .text__6 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 100;
    line-height: 43px;
  }
  .list__j {
    padding: 10px;
    padding: 5px;
    display: inline-block;
    font-size: 1, 5rem;
    line-height: 30px;
  }
  
  @media screen and (min-width: 320px) and (max-width: 760px) {
    .header {
      background-color: #c5b0f1;
    }
  }
  @media screen and (min-width: 760px) and (max-width: 1500px) {
    .header {
      background-color: #7f47f7;
    }
  }
  
  @media screen and (min-width: 1500px) and (max-width: 2650px) {
    .header {
      background-color: #590bff;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 760px) {
    .divider__link1 {
      color: rgb(253, 136, 195);
    }
  }
  @media screen and (min-width: 760px) and (max-width: 1500px) {
    .divider__link1 {
      color: rgb(248, 79, 164);
    }
  }
  @media screen and (min-width: 1500px) and (max-width: 2650px) {
    .divider__link1 {
      color: rgb(248, 8, 128);
    }
  }
  @media screen and (min-width: 320px) and (max-width: 750px) {
    .wrapper__block{
      background-color : #8968d1;
    }
  }
  @media screen and (min-width: 760px) and (max-width: 1500px) {
    .wrapper__block {
      background-color: #6942bd;
    }
  }
  @media screen and (min-width: 1500px) and (max-width: 2650px) {
    .wrapper__block {
      background-color: #4d12cc;
    }
  }
  @media screen and (min-width: 1500px) and (max-width: 2650px) {
    .divider__link2 {
      color: #8f7abd;
    }
  }
  @media screen and (min-width: 760px) and (max-width: 1500px) {
    .divider__link2 {
      color: #8252e9;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 750px) {
    .divider__link2 {
      color: #170244;
    }
  }